<body >
    
    <div class="container">
         <!-- <img class="mySlides" src="assets/images/s1.jpg" >  -->
     <img class="mySlides" src="assets/images/travel14.jpeg" >
        <img class="mySlides" src="assets/images/travel5.jpeg" >

<div id="nav">
    
    <img id="logo" src="assets/images/t2.jpg">
    <ul id="ul1">
        <a href="/userDashboard"><li class="li1">HOME</li></a>
        <a href="/covidData"><li class="li1">COVID</li></a>
       <a href="/login"><li (click)=logout() class="li1">LOGOUT</li></a> 
        <a href="/viewTickets"><li class="li1">VIEW</li></a>
    <a href="/submitTicket"><li class="li1">SUBMIT</li></a>
    </ul>
</div>

<div class="heading">
   
    <p>Your Journey Begins!</p>
    <marquee>Warning: Please avoid unnceesary travels. Check Covid19 statistics before booking!</marquee>
    </div>
    <div class="para">
       
</div>


<div class="box">

    <div class="nav2">
     
            <button class="li2">Travel Tickets</button>
            <button class="li2">Hotel Stay</button>
            <button class="li2">Visa</button>
            <button class="li2">Work Permit</button>
    </div>
    </div>
</div>
<div id="d" class="card-holder">
   

    <div class="left-card">
        <img id="img2" src="assets/images/stay2.jpg">
        <button id="b1" (click)=submitTicket()>Submit Ticket</button>
    </div>
    <div class="middle-card">
        <div class="ticket1">
        <h3>Submit Ticket</h3>
    </div>
    <div class="ticket2">
        <h3>View Ticket</h3>
        <p>You can view your submitted ticket and check status of your ticket.</p>
    </div>
</div>
    <div class="right-card">
        <img id="img1" src="assets/images/stay1.jpg">
        <button id="b2" (click)=viewTickets()>View Tickets</button>
    </div>
</div>



 
</body>