/* body{
    background-image: url("assets/images/background.jpg");
} */
.card-body{
    background-color: none;
}

#nav{
    background-color:gainsboro;
    opacity: 0.4;
    color:red;
    width:100%;
    font-size: 20px;
    font-weight: 700;
    overflow:auto;
    height:80px;
    display:inline-block;
    
  }
  .li1{
      display: inline-block;
      margin:30px;
     
  }
  #logo{
  width:60px;
  height:auto;
  float:left;
  margin-left: 30px;
  margin-top: 10px;
  opacity:1;
  
  }
  #ul1{
      float:right;
      text-align: center;
      vertical-align:top;
  }