<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
  <div id="nav">

    <img id="logo" src="assets/images/t2.jpg">
    <ul id="ul1">
      <a href="/adminLogin">
        <li class="li1">Admin Login</li>
      </a>
      <a href="/login">
        <li class="li1">User Login</li>
      </a>
      <a href="/register">
        <li class="li1">Register</li>
      </a>
      <a href="/forget">
        <li class="li1">Forgot</li>
      </a>
    </ul>
  </div>


  <form>
    <h1>User Log in</h1>
    <div class="inset">
      <p>
        <label for="email">EMAIL ADDRESS</label>
        <input type="text" [(ngModel)]="username" name="email" id="email">
      </p>
      <p>
        <label for="password">PASSWORD</label>
        <input type="password" name="password" [(ngModel)]="password" id="password">
        <p id="forgot"><a href="http://localhost:4200/forget">Forgot password?</a></p>


    </div>
    <div class="text-center">

      <button (click)=checkLogin() id="login" class="btn btn-dark btn-sm"> Login</button>
    </div>
    <br><br>
    <p id="para"> Don't have a Username and Password?
      <a href="/register"> Register </a> </p>


  </form>
</body>