

	<div id="nav">
    
		<img id="logo" src="assets/images/t2.jpg">
		<ul id="ul1">
			<a href="/adminLogin"><li class="li1">Admin Login</li></a>
		  <a href="/login"><li class="li1">Login</li></a>
			  <a href="/register"><li class="li1">Register</li></a>
		  <a href="/forget"><li class="li1">Forget</li></a>
		</ul>
	  </div>
<form>
    <h1>Forgot Password?</h1>
    <div class="inset">
        <label for="email">EMAIL ADDRESS</label>
      <input type="text"  placeholder="Enter registered email" name="email" id="email" [(ngModel)]="email">

    <br>
    <div class="text-center">
        <button  (click)=sendMail() id="login" class="btn btn-dark btn-sm">Submit</button>
    </div>
</div>

    <p id="forgot"><a  href="http://localhost:4200/">Back to Login Page</a></p> 

</form>
  